*{
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

@font-face {
  font-family: Neusa;
  src: url(fonts/Neusa-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Neusa;
  src: url(fonts/Neusa-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Neusa;
  src: url(fonts/Neusa-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: Neusa;
  src: url(fonts/Neusa-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: Neusa;
  src: url(fonts/Neusa-Bold.otf);
  font-weight: 700;
}

body{
    font-family: Neusa;
}

html{
    background: #000 url("dionV.jpg") no-repeat ;
    background-size: cover;
    background-position: 50% 0%;
    transition: background-position;
    transition-duration: 2s;
    font-family: Nuesa;
}

.parallax {
    height: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    background: black;
}

.parallax__group {
    position: relative;
    height: 500px;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 5em;
    transition: color .25s .25s;
}

.title:hover{
    color: snow
}

.extra__info {
    position: absolute;
    z-index: 100;
    bottom: 1vh;
    top: auto;
    font-size: 80%;
    text-align: center;
    width: 100%;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 3;
}

.parallax__layer--back {
    transform-origin: right;
    -webkit-transform: translateZ(-300px)  ;
    transform: translateZ(-300px) ;
    z-index: 4;
   
}



#group1 .parallax__layer--base {
    background-image: url("dionV.jpg");
    background-size: cover;
}

#group2 .parallax__layer--base{
    background-color:  black;  
    opacity: 1.0;
}

#group2 .parallax__layer--fore{
    background-color: #0080AE ;
    opacity: 1.0;
}

#group3 .parallax__layer--base{
    background-color:#B3D1DE;
    opacity: 1.0;
}

#group3 .parallax__layer--back{
    background-color: #4BCCFA ;
/*    background-image: url("dionV2.jpg");*/
    opacity: .5;
}

#group4 .parallax__layer--base{
    background-color:  black;  
    opacity: 1;
}

#group4 .parallax__layer--fore{
    background-color: #005C8B ;
    opacity: 1.0;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(50px) scale(.9);
    transform: translateZ(50px) scale(.9);
    z-index: 1;
}

.navbar-nav {
    font-size: 1.5em;
    font-family: Nuesa, Helvetica Neue, 'Cinzel', serif;
    text-align: center;
    
    
}



.navbar {
    margin-bottom: 0;
}




#go-hacker {
    color: ghostwhite;
    opacity: .85;
    transition-duration: .3s;
    transition-delay: .2s; 
}

#go-hacker:hover{
    opacity: 1;
    color: white;
}


#go-hipster {
    color: darkgrey;
    opacity: .9;
    transition-duration: .3s;
    transition-delay: .2s;
}

#go-hipster:hover{
    opacity: 1;
    color: white;
}

#go-hustler {
    color:whitesmoke;
    opacity: .8;
    transition-duration: .3s;
    transition-delay: .2s;
}

#go-hustler:hover{
    opacity: 1;
    color: white;
}

.center {
    margin: auto;
 
   
}

.bottom {
    position:absolute;
    height: 30%;
    width: 100%;
    background-color: black;
    bottom: 0;
    margin: 0px;
    border: 0px;
    opacity: .95;
    transition-property: height;
    transition-duration: 2s;
}

#header {
   position: absolute;
    margin-left: 20%;
    margin-top: 3%;
    color: whitesmoke;
    font-variant-caps: small-caps;
    font-family: Neusa, sans-serif;
    font-size: 1.5em;
    letter-spacing: .1em;
}

#content-div {
    color: #d3d3d3;
    position: absolute;
    margin-left: 40%;
    margin-top: 3%;
    font-variant-caps: small-caps;
    font-size: 1em;
    width: 25%;
    height: 65%;
    letter-spacing: .05em;
    font-family: Garamond;
    max-height: 10em;
    overflow-y: scroll;
}


#more-div {
    position: absolute;
    margin-left: 78%;
    margin-top: 3%;
    color: whitesmoke;
    font-family: Neusa, sans-serif;
    font-size: 1.5em;
    letter-spacing: .1em;
    height: 60%;
    align-content: center;
    
    
}

#downloadCV {
    opacity: .8;  
    display: inline-block;
}

#downloadCV:hover {
    opacity: 1;
}

#name {
    margin: 0;
    margin-bottom: 5;
    display: inline-block;
    
}

.row {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

#content-text {
    display: inline-block;
}

#go-about {
    opacity: .8;
    margin: 0;
}

#go-about:hover {
    opacity: 1;
}


@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin:  auto;
        display: table;
        table-layout: fixed;
    }

}

@media (max-width: 768px){ 
    html{
         background-position: 50% -18%;
    }
    
    .bottom {
        height: 38%;
    }
    
    #header {
        margin-left: 42%;
        margin-top: 5%;
    }
    
    #content-div {
        margin-left: 20%;
        width: 60%;
        margin-top: 15%;
    }
   
}

@media (max-width: 500px){ 
    html{
         background-position: 50% -40%;
    }
    
    .bottom {
        height: 45%;
    }
    
     #header {
        margin-left: 42%;
        margin-top: 5%;
    }
    
    #content-div {
        margin-left: 10%;
        width: 80%;
        margin-top: 15%;
        
        
    }
    
    #more-div {
    position: absolute;
    right: 20%;
    bottom: 5vh;
    color: whitesmoke;
    font-family: Neusa, sans-serif;
    font-size: 1.5em;
    letter-spacing: .1em;
    height: 10%;
    width: 80%;

    }
    

    #downloadCV {
    position: absolute;
    bottom: .3vh;
    right: 9vh;
    }
}
    
}












